# Ignore the .terraform directory (stores plugins and state files)
.terraform/

# Ignore Terraform state files
*.tfstate
*.tfstate.*

# Ignore crash log files
crash.log

# Ignore override files. Override files are typically used for local configuration and shouldn't be committed.
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore local `.terraform.lock.hcl` (can be used to lock dependencies, not always needed in VCS)
.terraform.lock.hcl



# Ignore plan files (Terraform plan files that might be generated)
*.tfplan

# Ignore any IDE or editor specific files
.idea/
.vscode/
*.swp
.DS_Store