name: Terraform Plan & Apply
on:
  push:
    branches:
      - 'feature/**'
      - main
  pull_request:
    paths:
      - '**/*.tf'
      - 'rules/**'
      - 'vars/**'
      - 'Makefile'
  workflow_dispatch:
    inputs:
      approval:
        description: "Approve Deployment?"
        required: true
        type: choice
        options:
          - "Yes"
          - "No"
permissions:
  contents: read
  pull-requests: write
  id-token: write

jobs:
  # Uses the .tfvars file to setup the strategy matrix for further steps
  discover:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write
      id-token: write
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}
    steps:
      - uses: actions/checkout@v4

      - id: set-matrix
        run: |
          items=()
          for f in ./vars/*.tfvars; do
            name=$(basename "$f" .tfvars)
            IFS="-" read -r ACCOUNT ENV COLOR REGION <<< "$name"
            STATE_STORE=$(grep -E '^[[:space:]]*STATE_STORE[[:space:]]*=' "$f" | awk -F'=' '{print $2}' | tr -d ' "')
            SERVICE_NAME=$(grep -E '^[[:space:]]*ServiceName[[:space:]]*=' "$f" | awk -F'=' '{print $2}' | tr -d ' "')
            items+=("{\"account\":\"$ACCOUNT\",\"env\":\"$ENV\",\"color\":\"$COLOR\",\"region\":\"$REGION\",\"varsfile\":\"$f\",\"state_store\":\"$STATE_STORE\",\"service_name\":\"$SERVICE_NAME\"}")
          done

          json="{\"include\":["
          json+=$(IFS=,; echo "${items[*]}")
          json+="]}"

          echo "matrix=$json" >> $GITHUB_OUTPUT

  plan:
    needs: discover
    strategy:
      matrix: ${{fromJson(needs.discover.outputs.matrix)}}
    runs-on: ubuntu-latest
    env:
      TF_IN_AUTOMATION: "true"
      TF_INPUT: "false"
      TF_PLUGIN_CACHE_DIR: "/tmp/tfplugincache"
      TF_CLI_ARGS_plan: "-out=plan.tfplan -no-color"
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Terraform cache dir
        run: mkdir -p "$TF_PLUGIN_CACHE_DIR"

      - name: Cache Terraform plugins
        uses: actions/cache@v4
        with:
          path: ${{ env.TF_PLUGIN_CACHE_DIR }}
          key: tfplug-${{ runner.os }}-${{ hashFiles('**/*.tf') }}
          restore-keys: tfplug-${{ runner.os }}-

      - name: Setup Terraform
        run: |
          sudo apt-get update
          sudo apt-get install -y gnupg software-properties-common curl
          curl -fsSL https://apt.releases.hashicorp.com/gpg | sudo gpg --dearmor -o /usr/share/keyrings/hashicorp-archive-keyring.gpg
          echo "deb [signed-by=/usr/share/keyrings/hashicorp-archive-keyring.gpg] https://apt.releases.hashicorp.com $(lsb_release -cs) main" | sudo tee /etc/apt/sources.list.d/hashicorp.list
          sudo apt-get update && sudo apt-get install terraform

      - name: Assume AWS IAM Role via OIDC
        env:
          AWS_ROLE_ARN: ${{ secrets.AWS_ROLE_ARN }}
          AWS_REGION: ${{ matrix.region }}
        run: |
          sudo apt-get update
          sudo apt-get install -y unzip jq

          curl "https://awscli.amazonaws.com/awscli-exe-linux-x86_64.zip" -o "awscliv2.zip"
          unzip -o awscliv2.zip
          sudo ./aws/install --update
          aws --version
          echo "Using AWS_ROLE_ARN=$AWS_ROLE_ARN"
          export TOKEN="$(curl -sH "Authorization: bearer $ACTIONS_ID_TOKEN_REQUEST_TOKEN" "$ACTIONS_ID_TOKEN_REQUEST_URL?audience=sts.amazonaws.com" | jq -r '.value')"
          echo "Fetching token from: ${ACTIONS_ID_TOKEN_REQUEST_URL}?audience=sts.amazonaws.com"
          CREDS_JSON=$(aws sts assume-role-with-web-identity \
            --role-arn "$AWS_ROLE_ARN" \
            --role-session-name "GitHubOIDCSession" \
            --web-identity-token "$TOKEN" \
            --duration-seconds 3600 \
            --region "$AWS_REGION")

          echo "AWS_ACCESS_KEY_ID=$(echo "$CREDS_JSON" | jq -r '.Credentials.AccessKeyId')" >> $GITHUB_ENV
          echo "AWS_SECRET_ACCESS_KEY=$(echo "$CREDS_JSON" | jq -r '.Credentials.SecretAccessKey')" >> $GITHUB_ENV
          echo "AWS_SESSION_TOKEN=$(echo "$CREDS_JSON" | jq -r '.Credentials.SessionToken')" >> $GITHUB_ENV
          echo "AWS_REGION=$AWS_REGION" >> $GITHUB_ENV

      - name: Mask AWS creds
        run: |
          echo "::add-mask::$AWS_ACCESS_KEY_ID"
          echo "::add-mask::$AWS_SECRET_ACCESS_KEY"
          echo "::add-mask::$AWS_SESSION_TOKEN"
      - name : Print
        run: |
          echo "Print - ${{ matrix.state_store}}"
          echo "Print - env:/${{ matrix.account }}-${{ matrix.env }}-${{ matrix.color }}-${{ matrix.region }}/${{ matrix.service_name }}/root_tfstate.json "
      - name: Clean workspace
        run: make clean

      - name: Terraform Plan
        run: |
          set -euxo pipefail
          make plan ACCOUNT=${{ matrix.account }} ENV=${{ matrix.env }} COLOR=${{ matrix.color }}  REGION=${{ matrix.region }} | tee plan.log

      - name: Export rendered rules
        run: terraform output -raw rendered_rules_json > rendered_rules.json

      - name: Upload rendered rules JSON
        uses: actions/upload-artifact@v4
        with:
          name: rendered-rules-${{ matrix.account }}-${{ matrix.env }}-${{ matrix.color }}-${{ matrix.region }}
          path: rendered_rules.json

      - name: List Plan Files 
        run: |
          echo "Files in workspace:"
          ls -la
          echo "Checking plan.tfplan exists..."
          test -f plan.tfplan || (echo "plan.tfplan not found!" && exit 1)

      - name: Show Terraform Plan
        run: terraform show -no-color plan.tfplan > plan.txt  

      - name: Upload plan artifacts
        id: upload-artifact 
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: tf-plan-${{ github.run_id }}-${{ matrix.account }}-${{ matrix.env }}-${{ matrix.color }}-${{ matrix.region }}
          path: |
            plan.tfplan
            plan.txt
            plan.log
     
      - name: Confirm plan file was created and uploaded
        run: |
          echo "Current dir:"
          pwd
          echo "Files:"
          ls -l
          echo "Check for plan.tfplan:"
          test -f plan.tfplan && echo "plan.tfplan exists." || echo "plan.tfplan missing!"

      - name: Comment plan to PR
        if: ${{ github.event_name == 'pull_request' }}
        uses: actions/github-script@v7
        with:
          script: |
            const fs = require('fs');
            const body = fs.readFileSync('plan.txt','utf8');
            const msg = `
            ### Terraform Plan
            ${{ matrix.account }}-${{ matrix.env }}-${{ matrix.color }}-${{ matrix.region }}
            <details><summary>Show plan</summary>

            \`\`\`
            ${body.substring(0, 65000)}
            \`\`\`
            </details>

            _Artifacts_: **plan.tfplan**, **plan.txt** attached to the run.
            `;
            github.rest.issues.createComment({
              owner: context.repo.owner,
              repo: context.repo.repo,
              issue_number: context.issue.number,
              body: msg
            });
  approve:
    name: approval
    needs: [discover, plan]
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'
    environment:
      name: terraform_approval
      url: https://github.com/${{ github.repository }}/actions
    steps:
      - name: Waiting for Approval 
        run: echo "Waiting for manual approval before apply"

  apply:
    needs: [discover, plan, approve]
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'
    strategy:
      matrix: ${{ fromJson(needs.discover.outputs.matrix) }}
    env:
      TF_PLUGIN_CACHE_DIR: /tmp/tfplugincache
      TF_IN_AUTOMATION: "true"
      TF_INPUT: "false"
      TF_LOG: ERROR
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Make plugin cache dir
        run: mkdir -p "$TF_PLUGIN_CACHE_DIR"

      - name: Cache Terraform plugins
        uses: actions/cache@v4
        with:
          path: ${{ env.TF_PLUGIN_CACHE_DIR }}
          key: tfplug-${{ runner.os }}-${{ hashFiles('**/*.tf') }}
          restore-keys: tfplug-${{ runner.os }}-

      - name: Setup Terraform
        run: |
          sudo apt-get update
          sudo apt-get install -y gnupg software-properties-common curl
          curl -fsSL https://apt.releases.hashicorp.com/gpg | sudo gpg --dearmor -o /usr/share/keyrings/hashicorp-archive-keyring.gpg
          echo "deb [signed-by=/usr/share/keyrings/hashicorp-archive-keyring.gpg] https://apt.releases.hashicorp.com $(lsb_release -cs) main" | sudo tee /etc/apt/sources.list.d/hashicorp.list
          sudo apt-get update && sudo apt-get install terraform

      - name: Assume AWS IAM Role via OIDC
        env:
          AWS_ROLE_ARN: ${{ secrets.AWS_ROLE_ARN }}
          AWS_REGION: ${{ matrix.region }}
        run: |
          sudo apt-get install -y unzip jq
          curl "https://awscli.amazonaws.com/awscli-exe-linux-x86_64.zip" -o "awscliv2.zip"
          unzip -o awscliv2.zip
          sudo ./aws/install --update
          export TOKEN="$(curl -sH "Authorization: bearer $ACTIONS_ID_TOKEN_REQUEST_TOKEN" "$ACTIONS_ID_TOKEN_REQUEST_URL?audience=sts.amazonaws.com" | jq -r '.value')"
          CREDS_JSON=$(aws sts assume-role-with-web-identity \
            --role-arn "$AWS_ROLE_ARN" \
            --role-session-name "GitHubOIDCSession" \
            --web-identity-token "$TOKEN" \
            --duration-seconds 3600 \
            --region "$AWS_REGION")
          echo "AWS_ACCESS_KEY_ID=$(echo "$CREDS_JSON" | jq -r '.Credentials.AccessKeyId')" >> $GITHUB_ENV
          echo "AWS_SECRET_ACCESS_KEY=$(echo "$CREDS_JSON" | jq -r '.Credentials.SecretAccessKey')" >> $GITHUB_ENV
          echo "AWS_SESSION_TOKEN=$(echo "$CREDS_JSON" | jq -r '.Credentials.SessionToken')" >> $GITHUB_ENV
          echo "AWS_REGION=$AWS_REGION" >> $GITHUB_ENV

      - name: Mask AWS creds
        run: |
          echo "::add-mask::$AWS_ACCESS_KEY_ID"
          echo "::add-mask::$AWS_SECRET_ACCESS_KEY"
          echo "::add-mask::$AWS_SESSION_TOKEN"

      - name: Download plan artifact
        uses: actions/download-artifact@v4
        with:
          name: tf-plan-${{ github.run_id }}-${{ matrix.account }}-${{ matrix.env }}-${{ matrix.color }}-${{ matrix.region }}
          path: .

      - name: Apply saved plan
        run:  make apply ACCOUNT=${{ matrix.account }} ENV=${{ matrix.env }} COLOR=${{ matrix.color }}  REGION=${{ matrix.region }} | tee apply.log
       
      - name: Upload apply logs
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: apply-logs-${{ matrix.account }}-${{ matrix.env }}-${{ matrix.color }}-${{ matrix.region }}-${{ github.run_id }}
          path: apply.log